extends layout

append head

block footer
    div#footer-container
        div Created by Alec "Root" Keeler
        a(href="https://github.com/Alec-Keeler/ti4_stream_overlay_tool") GitHub
        a(href="https://www.linkedin.com/in/alec-keeler-a8499083/") LinkedIn
        div Special Thanks to Darrell, Milty, RobTheHuman, and Paul Saunders