extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1 Game Data Will Be Displayed Here
  div#game-button-container
    button(type='button' value=gameKey name="get_data" id='get_data_btn') Get Game Data
    button(type='button' value=gameKey name="stop_data" id='stop_data_btn') Stop Getting Data
    form(action=`/game_collection/${gameKey}` method="POST")
      input(type='hidden' name='_csrf' value=csrfToken)
      input(type='text' name='collection_key' placeholder='Enter your collection key here' required)
      input(type="submit" value='Save Data To Your Collection')
  div#main-display-container
    div#scoreboard-container
      div#round Round 0
      div#player-score-container
        div#player-score-details-White.border.white
        div#player-score-details-Blue.border.blue
        div#player-score-details-Purple.border.purple
        div#player-score-details-Yellow.border.yellow
        div#player-score-details-Red.border.red
        div#player-score-details-Green.border.green
    div#available-points
      p Available Points
    div#tech-overview
      p Tech Overview
    div#resources-overview
      p Resources Overview
    div#rotating-tech
      p Rotating Tech
    div#rotating-resources
      p Rotating Resources
    div#rotating-laws
      p Rotating Laws
    
