extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel='stylesheet' href='/stylesheets/scoreboard.css')
  link(rel='stylesheet' href='/stylesheets/tech-overview.css')
  link(rel='stylesheet' href='/stylesheets/points-overview.css')
  link(rel='stylesheet' href='/stylesheets/resource-overview.css')
  link(rel='stylesheet' href='/stylesheets/law-overview.css')
  link(rel='stylesheet' href='/stylesheets/rotating-resource.css')
  link(rel='stylesheet' href='/stylesheets/rotating-tech.css')
  //- add page specific js

  script(src="/javascripts/index.js" type="module" defer)

block content
  div.main-display
    h1 Game Data Will Be Displayed Here
    div#game-button-container
      button(type='button' value=gameKey name="get_data" id='get_data_btn') Start Game Data
      button(type='button' value=gameKey name="stop_data" id='stop_data_btn') Stop Getting Data
      //- form(action=`/game_collection/${gameKey}` method="POST")
      //-   input(type='hidden' name='_csrf' value=csrfToken)
      //-   input(type='text' name='collection_key' placeholder='Enter your collection key here' required)
      //-   input(type="submit" value='Save Data To Your Collection')
    div#main-display-container
      div#scoreboard-container
        div#round Round 0
        div#player-score-container
          div#player-score-details-Yellow.border.yellow
            div#score-info-Yellow
          div#player-score-details-Red.border.red
            div#score-info-Red
          div#player-score-details-Green.border.green
            div#score-info-Green
          div#player-score-details-Purple.border.purple
            div#score-info-Purple
          div#player-score-details-Blue.border.blue
            div#score-info-Blue
          div#player-score-details-White.border.white
            div#score-info-White
      div#available-points Available Points
        div#points-container
          table
            tr.points-tr
              td#public0.public
              td#pointWhite0
              td#pointBlue0
              td#pointPurple0
              td#pointYellow0
              td#pointRed0
              td#pointGreen0
            tr.points-tr
              td#public1.public
              td#pointWhite1
              td#pointBlue1
              td#pointPurple1
              td#pointYellow1
              td#pointRed1
              td#pointGreen1
            tr.points-tr
              td#public2.public
              td#pointWhite2
              td#pointBlue2
              td#pointPurple2
              td#pointYellow2
              td#pointRed2
              td#pointGreen2
            tr.points-tr
              td#public3.public
              td#pointWhite3
              td#pointBlue3
              td#pointPurple3
              td#pointYellow3
              td#pointRed3
              td#pointGreen3
            tr.points-tr
              td#public4.public
              td#pointWhite4
              td#pointBlue4
              td#pointPurple4
              td#pointYellow4
              td#pointRed4
              td#pointGreen4
            tr.points-tr
              td#public5.public
              td#pointWhite5
              td#pointBlue5
              td#pointPurple5
              td#pointYellow5
              td#pointRed5
              td#pointGreen5
            tr.points-tr
              td#public6.public
              td#pointWhite6
              td#pointBlue6
              td#pointPurple6
              td#pointYellow6
              td#pointRed6
              td#pointGreen6
            tr.points-tr
              td#public7.public
              td#pointWhite7
              td#pointBlue7
              td#pointPurple7
              td#pointYellow7
              td#pointRed7
              td#pointGreen7
            tr.points-tr
              td#public8.public
              td#pointWhite8
              td#pointBlue8
              td#pointPurple8
              td#pointYellow8
              td#pointRed8
              td#pointGreen8
            tr.points-tr
              td#public9.public
              td#pointWhite9
              td#pointBlue9
              td#pointPurple9
              td#pointYellow9
              td#pointRed9
              td#pointGreen9
            tr.points-tr
              td#public10.public
              td#pointWhite10
              td#pointBlue10
              td#pointPurple10
              td#pointYellow10
              td#pointRed10
              td#pointGreen10
            tr.points-tr
              td#Political
              td#law-censure.law1-0
              td#law-censure.law1-1
              td#law-censure.law1-2
              td#law-censure.law1-3
              td#law-censure.law1-4
              td#law-censure.law1-5
            tr.points-tr
              td#Seed
              td#law-seed.law2-0
              td#law-seed.law2-1
              td#law-seed.law2-2
              td#law-seed.law2-3
              td#law-seed.law2-4
              td#law-seed.law2-5
            tr.points-tr
              td#Mutiny
              td#law-mutiny.law3-0
              td#law-mutiny.law3-1
              td#law-mutiny.law3-2
              td#law-mutiny.law3-3
              td#law-mutiny.law3-4
              td#law-mutiny.law3-5
            tr.points-tr
              td#relic-shard 
              td#shard-point1
              td#shard-point.shard-N
              td#shard-point.shard-N
              td#shard-point.shard-N
              td#shard-point.shard-N
              td#shard-point.shard-N
            tr.points-tr
              td#relic-crown 
              td#crown-point1
              td#crown-point.crown-N
              td#crown-point.crown-N
              td#crown-point.crown-N
              td#crown-point.crown-N
              td#crown-point.crown-N
            tr.points-tr
              td#custodians.custode Custodians Points
              td#custodian-point.custodian1.custod
              td#custodian-point.custodian2.custod
              td#custodian-point.custodian3.custod
              td#custodian-point.custodian4.custod
              td#custodian-point.custodian5.custod
              td#custodian-point.custodian6.custod
            tr.points-tr
              td#supports Support Points
              td#support-point-White.support
              td#support-point-Blue.support
              td#support-point-Purple.support
              td#support-point-Yellow.support
              td#support-point-Red.support
              td#support-point-Green.support
            tr.points-tr
              td#imp-riders
              td#imp-rider-point0.imp-rider1
              td#imp-rider-point1.imp-rider2
              td#imp-rider-point2.imp-rider3
              td#imp-rider-point3.imp-rider4
              td#imp-rider-point4.imp-rider5
              td#imp-rider-point5.imp-rider6
        div#secrets Scored Secrets
          div#secrets-container
      div#tech-overview-container Tech Overview
        div#tech-overview 
          div#player-techs-White.tech-header
          div#player-techs-Blue.tech-header
          div#player-techs-Purple.tech-header
          div#player-techs-Yellow.tech-header
          div#player-techs-Red.tech-header
          div#player-techs-Green.tech-header
      div#resources-overview Resources Overview
        div#resource-container
          table
            tr
              td#row-header.row-header.main-header Asset
              td#header-White.asset-header.header-col-White
              td#header-Blue.asset-header.header-col-Blue
              td#header-Purple.asset-header.header-col-Purple
              td#header-Yellow.asset-header.header-col-Yellow
              td#header-Red.asset-header.header-col-Red
              td#header-Green.asset-header.header-col-Green
            tr
              td#row-header.row-header Resources Avail/Total
              td#resource-White.asset-card.bigger-nums
              td#resource-Blue.asset-card.bigger-nums
              td#resource-Purple.asset-card.bigger-nums
              td#resource-Yellow.asset-card.bigger-nums
              td#resource-Red.asset-card.bigger-nums
              td#resource-Green.asset-card.bigger-nums
            tr
              td#row-header.row-header Influence Avail/Total
              td#influence-White.asset-card.bigger-nums
              td#influence-Blue.asset-card.bigger-nums
              td#influence-Purple.asset-card.bigger-nums
              td#influence-Yellow.asset-card.bigger-nums
              td#influence-Red.asset-card.bigger-nums
              td#influence-Green.asset-card.bigger-nums
            tr
              td#row-header.row-header.trade-header Trade
              td#trade-White.asset-card.bigger-nums
              td#trade-Blue.asset-card.bigger-nums
              td#trade-Purple.asset-card.bigger-nums
              td#trade-Yellow.asset-card.bigger-nums
              td#trade-Red.asset-card.bigger-nums
              td#trade-Green.asset-card.bigger-nums
            tr
              td#row-header.row-header Tokens T/F/S
              td#tokens-White.asset-card
              td#tokens-Blue.asset-card
              td#tokens-Purple.asset-card
              td#tokens-Yellow.asset-card
              td#tokens-Red.asset-card
              td#tokens-Green.asset-card
            tr
              td#row-header.row-header SOs/ACs
              td#hand-White.asset-card
              td#hand-Blue.asset-card
              td#hand-Purple.asset-card
              td#hand-Yellow.asset-card
              td#hand-Red.asset-card
              td#hand-Green.asset-card
            tr
              td#row-header.row-header Commander
              td#commander-White.asset-card
              td#commander-Blue.asset-card
              td#commander-Purple.asset-card
              td#commander-Yellow.asset-card
              td#commander-Red.asset-card
              td#commander-Green.asset-card
            tr
              td#row-header.row-header Hero
              td#hero-White.asset-card
              td#hero-Blue.asset-card
              td#hero-Purple.asset-card
              td#hero-Yellow.asset-card
              td#hero-Red.asset-card
              td#hero-Green.asset-card
            tr
              td#row-header.row-header Alliances
              td.asset-card
                div#alliance-White.alliance-card
              td.asset-card
                div#alliance-Blue.alliance-card
              td.asset-card
                div#alliance-Purple.alliance-card
              td.asset-card
                div#alliance-Yellow.alliance-card
              td.asset-card
                div#alliance-Red.alliance-card
              td.asset-card
                div#alliance-Green.alliance-card
            tr
              td#row-header.row-header Tech Skips
              td#skips-White.asset-card
              td#skips-Blue.asset-card
              td#skips-Purple.asset-card
              td#skips-Yellow.asset-card
              td#skips-Red.asset-card
              td#skips-Green.asset-card
            tr
              td#row-header.row-header Traits
              td#traits-White.asset-card
              td#traits-Blue.asset-card
              td#traits-Purple.asset-card
              td#traits-Yellow.asset-card
              td#traits-Red.asset-card
              td#traits-Green.asset-card
      div#law-overview Law Overview
        div#law-container
      div#rotating-tech
        div#rotating-tech-container Rotating Tech
      div#rotating-resources
        div#rotating-resources-container 
          div#rot-res-faction Rotating Resources
          table
            tr
              td#rot-res-resources Resources
              td#rot-res-resources-value.rot-res-card
            tr
              td#rot-res-influence Influence
              td#rot-res-influence-value.rot-res-card
            tr
              td#rot-res-trade Trade
              td#rot-res-trade-value.rot-res-card
            tr
              td#rot-res-tokens Tokens
              td#rot-res-tokens-value.rot-res-card
            tr
              td#rot-res-hand SOs / ACs
              td#rot-res-hand-value.rot-res-card
      div#bottom-padding
    
