doctype html
html
  head
      block head
        title="TI4 Twitch Overlay Display"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        script(src="/javascripts/index.js" type="module" defer)
        script(src="/javascripts/scoreboard-dom.js" type="module" defer)
  body
    block content
