h1 {
    color: #6EC1E4;
    font-size: 35px;
}

#inst-and-sidepanel-container {
    display: flex;
    justify-content: space-evenly;
}

#side-panel {
    /* margin-top: 25px; */
    width: 30%;
    max-height: 450px;
    /* flex-wrap: nowrap; */
    overflow-y: scroll;
}

.update-header {
    font-size: 16px;
    padding: 4px;
}

.update-content {
    font-size: 12px
}

.feature-note {
    margin-left: 15%;
}

.update-title {
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
}

#instruction-container {
    border: 1px solid white;
    width: 50%;
    border-radius: 5px;
}

#instruction-container > div, li {
    font-size: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 3px;
}

#other-container {
    display: flex;
    justify-content: space-around;
}

#page-container {
    background: #061738;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#page-container > div, li {
    color: white
}

button {
    background-color: #6EC1E4;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
}

.key-display {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

#footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #6e7785;
    color: #6EC1E4;
    width: 100%;
}

.input-field {
    width: 150px;
    height: 35px;
    padding: 8px;
}

.main-display {
    background: #6e7785;
}

#main-display-container {
    
}

#main-display-container > div {
    margin: 10px;
}

#bottom-padding {
    height: 10px;
}