h1 {
    color: #6EC1E4;
    font-size: 35px;
}

#instruction-container > div, li {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#other-container {
    display: flex;
    justify-content: space-around;
}

#page-container {
    background: #061738;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-container > div, li {
    color: white
}

button {
    background-color: #6EC1E4;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 18px;
}

.key-display {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

#footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: gray;
    color: #6EC1E4;
}

.input-field {
    width: 150px;
    height: 35px;
    padding: 8px;
}