#available-points {
    background: #061738;
    width: 430px;
    color: white;
    text-align: center;
}

#points-container {
    /* display: grid; */
    /* background: #061738; */
    /* grid-template-columns: 3fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr; */
    /* grid-template-rows: minmax(30px, 30px); */
    
    /* display: flex; */
    text-align: left;
}

#secrets {
    height: 270px;
}

#secrets-container {
    display: flex;
    flex-wrap: wrap;
}

.support {
    color: black;
    text-align: center;
}
.stage-1 {
    background: #ffde17;
    color: black;
}

.stage-2 {
    background: #6EC1E4;
    color: black;
}

.secret-card {
    width: max-content;
    /* background: red; */
    /* margin-left: 3px;
    margin-right: 3px; */
    /* margin: 1px; */
    height: max-content;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
    padding: 2px;
}

/* .scoreboard-score-el {
    width: 15px
} */

.public {
    width: 250px
}
td {
    height: 30px;
    width: 30px;
}

.scored-White {
    background: white
}

.scored-Blue {
    background: #6EC1E4;
}

.scored-Purple {
    background: #9161a8;
}

.scored-Yellow {
    background: #ffde17;
}

.scored-Red {
    background: #e46d72;
}

.scored-Green {
    background: #00a14b;
}