#resources-overview {
    width: 750px;
    height: 405px;
    /* height: 360px; */
    background: #061738;
    color: white;
    text-align: center;
}

#resource-container {
    /* display: flex;
    flex-direction: column; */
}

.main-header {
    text-align: center;
}

.row-header {
    width: 100px;
    padding: 0px;
}

.asset-card {
    /* display: flex; */
    width: 110px;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* padding: 0px; */
    font-size: 14px;
}

.bigger-nums {
    font-size: 18px;
}

.asset-header {
    width: 110px;
    text-align: center;
    /* padding: 0px; */
}

.header-col-White {
    color: white;
}
.header-col-Blue {
    color: #6EC1E4;
}
.header-col-Purple {
    color: #9161a8;
}
.header-col-Yellow {
    color: #ffde17;
}
.header-col-Red {
    color: #e46d72;
}
.header-col-Green {
    color: #00a14b;
}

.icon {
    width: 18px;
    height: 18px;
}
.skip {
    width: 12px;
    height: 18px;
}

.tg {
    width: 20px;
    height: 20px;
    /* margin-top: 4px; */
}

.alliance-block {
    height: 18px;
    width: 18px;
    margin: 2px;
    border-radius: 4px;
}

.alliance-card {
    display: flex;
}
.alliance-White {
    background: white;
}
.alliance-Blue {
    background: #6EC1E4;
}
.alliance-Purple {
    background: #9161a8;
}
.alliance-Yellow {
    background: #ffde17;
}
.alliance-Red {
    background: #e46d72;
}
.alliance-Green {
    background: #00a14b;
}