.passed {
    border: 5px solid red;
}

.active-turn {
    border: 5px solid green;
}

/* p {
    margin: 0px;
}; */


#score-board-container {
    /* background: blue; */
    display: grid;
    width: 750px;
    height: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(75px, 75px);
    border: 1px solid black;
    border-radius: 3px;
}

#score-board-container div {
    display: grid;
    /* border: 1px solid black; */
    grid-template-columns: 1fr 0.25fr 1fr;
}

#score-board-container div div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
