.border {
    border: 1px solid black;
}

.passed {
    /* border: 5px solid red; */
    /* background: #010814; */
    /* background: #5f6178; */
    background: #414042
}

.active-turn {
    /* border: 5px solid green; */
    background: #193a7d;
}

/* p {
    margin: 0px;
    6EC1E4
}; */

#scoreboard-container {
    background: #061738;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#round {
    font-size: 25px;
    color: white;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

#player-score-container {
    display: grid;
    width: 750px;
    height: 130px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(65px, 65px);
    border: 1px solid black;
    border-radius: 3px;
}

#player-score-container > div {
    display: grid;
    /* border: 1px solid black; */
    grid-template-columns: 1fr 0.25fr 1fr;
}

#player-score-container div div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.white {
    color: white;
    /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
}

.blue {
    color: #6EC1E4;
    /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
}

.purple {
    /* color: mediumorchid; */
    color: #9161a8;
    /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
}

.yellow {
    /* color: #cdd151; */
    color: #ffde17
    /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
}

.red {
    color: #e46d72;
    /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
}

.green {
    /* color: #4ebf54; */
    color: #00a14b;
    /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
}